:root {
  --koala-skin: darkturquoise;
}

body {
  counter-reset: sectionVariable; 
}

section::before {
  counter-increment: sectionVariable; 
  content: "Section " counter(sectionVariable) ": ";
}

.firstLetterBlue::first-letter {
  color: blue;
}

.videoClass::first-line {
  color: red; 
}

h2::before {
  content: "This is content text before the h2 header"; 
  color: red; 
}

h3::after {
  content: "This is text placed after any h3 headers using the ::after selector."; 
  color: blue; 
}

h4 {
  text-shadow: 2px 2px 5px red;
}

.noWrappingClass {
  white-space: nowrap; 
  background-color: aquamarine;
}

.normalWrappingClass {
  white-space: normal;
  background-color: aquamarine;
}

.preWrappingClass {
  white-space: pre;
  background-color: aquamarine;
}

.overflowScroll {
  overflow: scroll; 
  background: lightgreen;
  width: 200px; 
  height: 200px; 
}

.overflowHidden {
  overflow: hidden; 
  background: lightgreen;
  width: 200px; 
  height: 200px; 
}

.overflowAuto {
  overflow: auto; 
  background: lightgreen;
  width: 200px; 
  height: 200px; 
}

.overflowVisible {
  overflow: visible; 
  background: lightgreen;
  width: 200px; 
  height: 200px; 
}

.textOverflowClip {
  text-overflow: clip; 
  background: peach;
  width: 200px; 
  height: 200px;
}

.textOverflowEllipsis {
  text-overflow: ellipsis; 
  background: peach;
  width: 800px; 
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
}

#textTransformCaps {
  text-transform: capitalize; 
}

#textTransformUpper {
  text-transform: uppercase;
}

#textTransformLower {
  text-transform: lowercase;
}

#twoDTransformations{
  height: 660px;
  width: 660px;
  background-color: azure;
  position: absolute: 
}

.comparativeDiv {
  top: 10px; 
  left: 5px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
  opacity: .5;
  color: white; 
}

#translatedDiv {
  top: -90px; 
  left: 5px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px);
  -webkit-transform: translate(50px, 50px);
  -moz-transform: translate(50px, 50px);
  transform: translate(50px, 50px);
}

#rotatedDiv {
  top: -90px; 
  left: 5px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) rotate(20deg);
  -webkit-transform: translate(50px, 50px) rotate(20deg);
  -moz-transform: translate(50px, 50px) rotate(20deg);
  transform: translate(50px, 50px) rotate(20deg);
}

#scaledDiv {
  top: -90px; 
  left: 5px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) scale(.5, .5);
  -webkit-transform: translate(50px, 50px) scale(.5, .5);
  -moz-transform: translate(50px, 50px) scale(.5, .5);
  transform: translate(50px, 50px) scale(.5, .5);
}

.comparativeDiv2 {
  top: -590px; 
  left: 200px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
  opacity: .5;
  color: white; 
}

#skewXDiv {
  top: -690px; 
  left: 200px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) skewX(10deg);
  -webkit-transform: translate(50px, 50px) skewX(10deg);
  -moz-transform: translate(50px, 50px) skewX(10deg);
  transform: translate(50px, 50px) skewX(10deg);
}

#skewYDiv {
  top: -690px; 
  left: 200px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) skewY(10deg);
  -webkit-transform: translate(50px, 50px) skewY(10deg);
  -moz-transform: translate(50px, 50px) skewY(10deg);
  transform: translate(50px, 50px) skewY(10deg);
}

#twoDMatrix {
  top: -690px; 
  left: 200px; 
  width: 210px;
  height: 190px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: matrix(1, 0, 0, 1, 50, 50);
  -webkit-transform: matrix(1, 0, 0, 1, 50, 50);
  -moz-transform: matrix(1, 0, 0, 1, 50, 50);
  transform: matrix(1, 0, 0, 1, 50, 50);
}

#rotateX {
  top: -100px; 
  left: 0px; 
  width: 100px;
  height: 100px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) rotateX(60deg);
  -webkit-transform: translate(50px, 50px) rotateX(60deg);
  -moz-transform: translate(50px, 50px) rotateX(60deg);
  transform: translate(50px, 50px) rotateX(60deg);
}

#rotateY {
  top: -100px; 
  left: 0px; 
  width: 110px;
  height: 110px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) rotateY(60deg);
  -webkit-transform: translate(50px, 50px) rotateY(60deg);
  -moz-transform: translate(50px, 50px) rotateY(60deg);
  transform: translate(50px, 50px) rotateY(60deg);
}

#rotateZ {
  top: -100px; 
  left: 0px; 
  width: 110px;
  height: 110px; 
  position: relative; 
  background-color: red; 
    
  -ms-transform: translate(50px, 50px) rotateZ(60deg);
  -webkit-transform: translate(50px, 50px) rotateZ(60deg);
  -moz-transform: translate(50px, 50px) rotateZ(60deg);
  transform: translate(50px, 50px) rotateZ(60deg);
}

.borderImage {
  border: 10px solid transparent; 
  margin: 20px;
  padding: 20px; 
  width: 200px;
  border-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a3/Celtic-knot-insquare-39crossings.svg") 25% round; 
}

nav + header {
  background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v326-kul-60-connection_2.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=800&s=7a668c4d9d8da7b35d51d38199cb5839);
  background-size: 100px;
  background-repeat: no-repeat; 
}

.htmlImg {
  width: 100px; 
  height: 100px; 
}

h1 {
  color: pink;
}

.homeButton {
  position: fixed; 
  left: 0px; 
  top: 0px; 
  background-color: blue; 
  color: white; 
  z-index: 500;
}

.homeButton:hover {
  background-color: red;
}

.homeButton:active {
  background-color: black;
}

.grid-container {
  background-color: darkgray;
  height: 200px;
  width: 200px; 
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.grid-container2-auto-fill {
  background-color: darkgray;
  height: 200px;
  width: 200px; 
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(3, 50px);
}

details > p {
  background-color: lightgray;
}

.grid-container3-grid-areas {
  background-color: darkgray;
  height: 200px;
  width: 200px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "head head head"
    "middleArea middleArea ."
    "foot foot foot";   
}

.grid-container4-justify-self {
  background-color: darkgray;
  height: 200px;
  width: 200px;     
  display: grid;
}

.grid-container5-align-self {
  background-color: darkgray;
  height: 200px;
  width: 400px;     
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-item1 {
  background-color: pink;
  height: 40px;
  width: 40px; 
  margin:5px; 
}

.grid-item2 {
  background-color: skyblue;
  height: 40px;
  width: 40px;
  margin: 5px;  
}

.grid-item3 {
  background-color: greenyellow;
  height: 40px;
  width: 40px;  
  margin: 5px;
}

.grid-item4 {
  background-color: orange;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.grid-area-item1 {
  background-color: pink;
  margin:5px;
  grid-area: head;
}

.grid-area-item2 {
  background-color: skyblue;
  margin: 5px; 
  grid-area: middleArea; 
}

.grid-area-item3 {
  background-color: greenyellow;
  margin: 5px;
  grid-area: foot;
}

.grid-item1-justify-self {
  background-color: pink;
  margin:5px;
  justify-self: start;
}

.grid-item2-justify-self {
  background-color: skyblue;
  margin: 5px; 
  justify-self: center; 
}

.grid-item3-justify-self {
  background-color: greenyellow;
  margin: 5px;
  justify-self: end;
}

.grid-item1-align-self {
  background-color: pink;
  margin: 5px;
  align-self: start ;
}

.grid-item2-align-self {
  background-color: skyblue;
  margin: 5px; 
  align-self: center;
}

.grid-item3-align-self {
  background-color: greenyellow;
  margin: 5px;
  align-self: end;
}

.fixedPosition {
  background-color: aqua;
  position:fixed;
  top:0px;
  right: 0px;
}

.fixedPosition:hover {
  background-color: red;
}

.koala {
  position: relative;
  height: 500px;
  width: 500px;
  left: 200px;
}

.koalaHead {
  position: absolute;
  height: 100px;
  width: 100px;
  background: var(--koala-skin, black);
  border-radius: 50%;
  top: 100px;
}

.koalaEarLeft {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: green;
  top: -25px;
  left: -25px;
  border-radius: 20px 10px 20px 10px;
}

.koalaEarRight {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: green;
  top: -25px;
  left: 75px;
  border-radius: 10px 20px 10px 20px;
}

.koalaEyeLeft {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  top: 40px;
  left: 30px;
  border-radius: 50%;
}

.koalaEyeRight {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  top: 40px;
  left: 60px;
  border-radius: 50%;
}

.koalaNose {
  position: absolute;
  height: 30px;
  width: 20px;
  background-color: black;
  top: 50px;
  left: 40px;
  border-radius: 30px;
}

.koalaMouth {
  position: absolute;
  height: 2px;
  width: 10px;
  background-color: black;
  top: 90px;
  left: 40px;
}

.koalaBody {
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  border-radius: 40%;
  top: 200px;
}

.koalaArmLeft {
  background-color: black;
  background-color: var(--koala-skin, black);
  left: -30px;
  top: 5px;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius: 50px 10px 50px 10px;
  animation-name: armMove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.koalaArmRight {
  background-color: aqua;
  left: 80px;
  top: 5px;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius: 10px 50px 10px 50px;
}

.koalaLegLeft {
  background-color: black;
  background-color: var(--koala-skin, black);
  left: -30px;
  top: 80px;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius: 60px 10px 60px 10px;
}

.koalaLegRight {
  background-color: aqua;
  left: 80px;
  top: 80px;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: -1;
  border-radius: 10px 60px 10px 60px;
  animation-name: color-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes color-change {
  10% {
    background-color:  blue
  }
  20% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  50% {
    opacity: .1;
  }
}

@keyframes armMove {
  10% {
    transform: rotate(50deg);
  }
  20% {
    transform: rotate(0deg);
  }
}

.ballArea {
  height: 400px;
  width: 390px;
  background-color: springgreen;
  position: relative;
}

.ball1 {
  height: 30px;
  width: 30px;
  left: 30px;
  background-color: blue;
  position: absolute;
  border-radius: 50%;
  animation-name: ball1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ball2 {
  height: 30px;
  width: 30px;
  left: 90px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  animation-name: ball2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.ball3 { 
  height: 30px;
  width: 30px;
  left: 150px;
  background-color: purple;
  position: absolute;
  border-radius: 50%;
  animation-name: ball3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.ball4 {
  height: 30px;
  width: 30px;
  left: 210px;
  background-color: blue;
  position: absolute;
  border-radius: 50%;
  animation-name: ball4;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.ball5 {
  height: 30px;
  width: 30px;
  left: 270px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  animation-name: ball5;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ball6 {
  height: 30px;
  width: 30px;
  left: 330px;
  background-color: purple;
  position: absolute;
  border-radius: 50%;
  animation-name: ball6;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.25, .25, .75, .75);
}

@keyframes ball1 {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

@keyframes ball2 {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

@keyframes ball3 {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

@keyframes ball4 {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

@keyframes ball5 {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

@keyframes ball6 {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 100px;
  vertical-align: bottom; 
}

.hex-colors {
  background-color:#000;
  border-style: dashed;
  border-width: 2px;
  border-color:#999;
  color: rgb(255, 255, 255);
}

.firstClasseWithFieldSet {
  color: blue;
}

.purpleText {
  color: purple;
}

p {
  font-size: 25px;
}

h1 {
  font-family: 'Unlock', monospace, serif;
  width: 40vw;
  margin: -15px;
}

.pinkBorder {
  border-color: pink;
  border-width: 10px;
  border-style: dotted;
  border-radius: 20px;
  background-color: purple;
}

nav {
  padding: 10px 20px 20px 10px;
}

a {
  color: lawngreen;
}

.fontSizes {
  border-style: solid;
  border-width: 5px;
}

.remFont {
  font-size: 10rem;
}

.emFont {
  font-size: 10em;
}

.pxFont {
  font-size: 10px;
}

.boxGroup {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: wrap;
  height: 100px;
  background-color: aquamarine;
  justify-content: center;
}

.boxGroup2 {
  align-items: center;
}

.tripleFlexGroup {
  display: flex;
  height: 300px;
}

.tripleFlex1 {
  background-color: blueviolet;
  flex: 1 1 300px;
  order: 2;
}

.tripleFlex2 {
  background-color: orangered;
  flex: 2 2 300px;
  order: 1;
}

.shrinkGroup {
  display: flex;
}

.shrink1 {
  background-color: hotpink;
  flex-shrink: 1;
  width: 100%;
  height: 200px;
}

.shrink2 {
  background-color: green;
  flex-shrink: 2;
  width: 100%;
  height: 200px;
}

.redBox {
  background-color: red;
  padding: 10px;
}

.blueBox {
  background-color: blue;
  margin: 10px;
}

img {
  display: block;
  max-width: 100%;
}

.upperCaseRoman {
  list-style-type: upper-roman; 
}

.lowerCaseRoman {
  list-style-type: lower-roman; 
}

.upperCaseAlpha {
  list-style-type: upper-alpha; 
}

.lowerCaseAlpha {
  list-style-type: lower-alpha; 
}

time ~ p {
  background-color: peachpuff;
}

#asd {
  background-color: aqua;
}

[datetime="2018-12-09"] {
  background-color: lawngreen;
}

@media(max-width: 500px)
{
  p {
    font-size: 15px;
  }
}
